### Варіант 3 Перше завдання

In [49]:
import pandas as pd

data = pd.read_excel('satpr5.xlsx', sheet_name='Задача 1', header=None, skiprows=4, usecols='D:G', nrows=4)

data

   3  4   5  6
0  1  9   6  0
1 -2  3   8  4
2 -5 -2  10 -3
3  7  4  -2 -5

In [50]:
minA = [min(row) for row in data.values]
maxB = [max(col) for col in data.values.T]

print("minA:", minA)
print("maxB:", maxB)

minA: [0, -2, -5, -5]
maxB: [7, 9, 10, 4]

In [51]:
min_max_B = min(maxB)
max_min_A = max(minA)

print('Нижня ціна гри: ', max_min_A)
print('Верхня ціна гри: ', min_max_B)

Нижня ціна гри:  0
Верхня ціна гри:  4

#### Перевірка на наявність сідлової точки

In [52]:
if (min_max_B == max_min_A):
  print('Сідлова точка існує')
else:
  print('Сідлової точки не існує')

Сідлової точки не існує

### Завдання 2

### Переношу матрицю ймовірностей

In [53]:
data = pd.read_excel('satpr5.xlsx', sheet_name='Задача 2', header=None, skiprows=16, usecols='D:F', nrows=3)

data

     3    4    5
0  0.9  0.4  0.2
1  0.3  0.6  0.8
2  0.5  0.7  0.2

### Знаходжу матрицю платежів для цієї задачі

In [54]:
row1 = data.iloc[0]

row2 = 1 - ((1 - row1) * (1 - data.iloc[1]))

row3 = 1 - ((1 - row1) * (1 - data.iloc[1]) * (1 - data.iloc[2]))

result = pd.DataFrame({
    'A1': row1,
    'A2': row2,
    'A3': row3
})

result = result.transpose()
result.columns = ['B1', 'B2', 'B3']

result

       B1     B2     B3
A1  0.900  0.400  0.200
A2  0.930  0.760  0.840
A3  0.965  0.928  0.872