In [19]:
import pandas as pd
from scipy.optimize import linear_sum_assignment

data = pd.read_excel('satpr6.xlsx', sheet_name='Sheet1', usecols='C:G', skiprows=2 ,nrows=5)
data

    1   2   3   4   5
0  46  59  24  62  67
1  47  56  32  55  70
2  44  52  19  61  60
3  47  59  17  64  73
4  43  65  20  60  75

In [20]:
row_ind, col_ind = linear_sum_assignment(data)

total_time = 0
for i in range(len(row_ind)):
    program_index = row_ind[i] + 1
    programmer_index = col_ind[i] + 1
    time = data.iloc[program_index - 1, programmer_index - 1]
    print(f"Program {program_index} for Programmer {programmer_index} with time {time}")
    total_time += time

print(f"Total time: {total_time}")

Program 1 for Programmer 5 with time 67
Program 2 for Programmer 4 with time 55
Program 3 for Programmer 2 with time 52
Program 4 for Programmer 3 with time 17
Program 5 for Programmer 1 with time 43
Total time: 234